{% extends "core/padre.html" %}

{% load static %}


{% block masthead %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Listado de Proyectos cargados por la comunidad</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Encontra el proyecto que sea de tu intereses. En cada vista podras observar el titulo y una breve descripcion del mismo. En caso que lo desees, podes ingresar a "Leer Mas" o al pie de pagina cargar un proyecto propio</p>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block content %}
<body>
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        {% if object_list%}
                        {% for project in object_list %}
                            <p class="text-white-75 mb-4">{{project.project_name}}</p>
                            <hr class="divider divider-light" />
                            <p class="text-white-75 mb-4">{{project.summary}}</p>
                            <img class="img-project" src="{{project.images.url}}" alt="" width="300" height="225">
                                <p class="text-white-75 mb-4">
                                    <a href="{% url 'detalle_proyecto'  project.id%}" style="color:white">Leer mas</a>
                                    <a href="{% url 'actualizar_proyecto' project.id%}" style="color:white">Editar</a>
                                    <a href="{% url 'eliminar_proyecto' project.id%}" style="color:white">Borrar</a>
                                </p>
                            <hr>
                        {% endfor %}
                        {% else %}
                            <p>Todavia no se han informado proyectos. Se el primero desde la opcion <strong>Nuevo Proyecto</strong> al pie de pagina</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    <a class="btn btn-light btn-xl" href="{% url 'crear_proyecto' %}">Nuevo Proyecto</a>
</body>
</html>

{% endblock %}