{% extends "core/padre.html" %}

{% load static %}

{% block content %}
    <p>Estamos buscando el proyecto con titulo: {{project_name}}</p>
    {% if proyectos %}
        

        <ul>
        {% for proyecto in proyectos %}
            <li><h2>Proyecto: {{ proyecto.project_name }}</h2></li>
            <li><p>Descripcion: {{ proyecto.description }}</p></li>  
        {% endfor %}   
        </ul>

        {% else %}
            <p>No hay datos con esa descripcion.</p>

    {% endif %}
    
{% endblock %}

                    