{% extends "core/padre.html" %}

{% load static %}

{% block content %}

<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Quienes Somos</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">
                    <h4>Pablo Figueroa</h4>
                    <p>
                        <ul>
                            <li>Nacionalidad: Argentina</li>
                            <li>Edad: 31 años</li>
                            <li>Estudios Universitarios: Licenciatura en Administracion de Empresas, MBA</li>
                            <li>
                                <p>Sobre mi:
                                    Entusiasta desde chico por la computacion y la informatica, recientemente comence a trabajar como Quality Assurance Analyst en una empresa de Cordoba,
                                    en la cual el proyecto principal se desarrollo en Python y Django para el backend, lo que me motivo a introducirme mas en este lenguaje y framework.
                                    Actualmente estoy comenzando las tecnicaturas en desarrollo web y de tecnologias 4.0 dictadas por el Instituto Superior Politecnico de Cordoba.
                                </p>
                            </li>
                        </ul>
                    </p>
                </p>
                <a class="btn btn-light btn-xl" href="{% url "Contacto" %}">Contacto</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}